<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Anotações</title>
</head>

<body>
    <h1>Anotações</h1>

    <div>
        <form>
            <label>Anotações para Item: <select name="origem">
                    <option th:each="item: ${itens}" th:object="${item}" th:value="*{key}" th:text="*{key+': '+value}"
                        th:selected="${min==opcao.key}"></option>

           <textarea>Observação</textarea>
             <input type="submit" value="Criar" />
        </form> 
    </div>
    <div>
        <form>
                <label>Anotação para Vínculo: <select name="origem">
                        <option th:each="vinculo: ${vinculos}" th:object="${vinculo}" th:value="*{key}" th:text="*{key+': '+value}"
                            th:selected="${min==opcao.key}"></option>
                    </select></label>
                    <textarea>Observação</textarea>
                    </select></label>
                <input type="submit" value="Criar" />
            </form>
    </div>
    <div>
        <h1>Lista de Anotações</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Descrição Textual</th>
                    <th>URL</th>
                    <th>Usuario</th>
                    <th>Data de Inclusão</th>
                    <th>Data de Alteração</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vinculo: ${vinculos}" th:object="${vinculo}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{titulo}"></td>
                    <td th:text="*{descricaoTextual}"></td>
                    <td th:text="*{usuario}"></td>
                    <td th:text="*{dataAlteracao}"></td>
                    <td th:text="*{dataIclusao}"></td>

                    <td><a th:href="@{/anotacao/editar.html(id=${anotacao.id})}">
                            <button>Editar</button></a></td>
                    <td><a th:href="@{/anotacao/excluir.html(id=${anotacao.id})}">
                            <button>Excluir</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>