<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nova Etiqueta</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <html>Etiqueta: Nova

    </html>
    <form th:action="@{/etiqueta/nova.html}" th:object="${etiqueta}" method="POST">
        <label>Título: <input type="text" th:field="*{titulo}" /></label>
        <strong th:if="${#fields.hasErrors('titulo')}"
        th:errors="*{titulo}"></strong>
        
        <label>Descrição Textual: <input type="text"
        th:field="*{descricaoTextual}"/></label>
        <strong th:if="${#fields.hasErrors('descricaoTextual')}"
        th:errors="*{descricaoTextual}"></strong>
        
        <label>Descrição Textual: <input type="text"
            th:field="*{url}"/></label>
            <strong th:if="${#fields.hasErrors('url')}"
            th:errors="*{url}"></strong>

        <input type="submit"/>
        <input type="reset"/>
        </form>
        </body>
        

</html>