
    <!DOCTYPE html>
    <html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title> Página Principal</title>
    </head>
    <body>
        <h1>Acervo Institucional</h1>
        <ul>
            <li><a th:href="@{./etiqueta/index.html}">Etiqueta</a></li>
            <li><a th:href="@{./usuario/index.html}">Usuario</a></li>
            <li><a th:href="@{./item/index.html}">Item</a></li>
            <li><a th:href="@{./vinculo/index.html}">Vínculo entre Itens</a></li>
        </ul>
        
    </body>
    </html>
   