<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nova usuario</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <html>Usuario: Nova

    </html>
    <form th:action="@{/usuario/nova.html}" th:object="${usuario}" method="POST">
        <label>Título: <input type="text" th:field="*{nomeCompleto}" /></label>
        <strong th:if="${#fields.hasErrors('nomeCompleto')}"
        th:errors="*{nomeCompleto}"></strong>
        
        <label>Senha: <input type="text"
        th:field="*{codigoAcesso}" readonly/></label>
       <strong th:if="${#fields.hasErrors('codigoAcesso')}"
        th:errors="*{codigoAcesso}"></strong>

        <label>Descrição Textual: <input type="text"
        th:field="*{descricaoTextual}"/></label>
        <strong th:if="${#fields.hasErrors('descricaoTextual')}"
        th:errors="*{descricaoTextual}"></strong>
        
        <label>Email: <input type="text"
            th:field="*{email}"/></label>
            <strong th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"></strong>

        <input type="submit"/>
        <input type="reset"/>
        </form>
        </body>
        

</html>