
    <!DOCTYPE html>
    <html lang="pt" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title> Usurio: index</title>
    </head>
    <body>
        <h1>Usuário: index</h1>
        <ul>
            <li><a th:href="@{./nova.html}">Criar</a></li>
            <li><a th:href="@{./listar.html}">Listar</a></li>
        </ul>

        <div>
            <form th:action="@{/index.html}">
                <input type="submit" value="Home" />
            </form>
        </div>
    </body>
    </html>
    <div>

    </div>
    </body>
</body>

</html>