<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Página Principal</title>
</head>

<body>
    <h1>Vínculo entre Itens</h1>

    <div>
        <div th:if=${naoPossuiVinculo}>
                    <h2>O item não possui vinculos</h2>
        </div>
        <div th:unless=${naoPossuiVinculo}>
            <h1>Lista de Vínculo entre Itens</h1>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Item Origem</th>
                        <th>Item Destino</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="vinculo: ${vinculos}" th:object="${vinculo}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{nomeItemOrigem}"></td>
                        <td th:text="*{nomeItemDestino}"></td>
                        <td><a th:href="@{/vinculo/editar.html(id=${vinculo.id})}">
                                <button>Editar</button></a></td>
                        <td><a th:href="@{/vinculo/excluir.html(id=${vinculo.id})}">
                                <button>Excluir</button></a></td>
                    </tr>
                </tbody>
            </table>
        
            <a th:href="@{/vinculo/criar.html(idItem=${param.idItem})}">
                <button>Criar novo vinculo</button></a>
        </div>
    </div>
</body>
</html>